server {
    listen {{ http_port }};
    
    # Nom de domaine (remplacez example.com par votre domaine)
    server_name {{ full_hostname }};
    
    # Chemin vers les fichiers de logs
    access_log /var/log/nginx/{{ full_hostname }}.access.log;
    error_log /var/log/nginx/{{ full_hostname }}.error.log;
    
    location / {
        # Proxy_pass vers le serveur NextJS
        proxy_pass http://127.0.0.1:{{ node_port }}; # Changez le port si nécessaire
        
        # Paramètres recommandés pour le proxy
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }
}